PORT=
NODE_ENV=
MONGO_URI=mongodb://localhost:27017/<YOUR_DATABASE_NAME>
# For MongoDB Atlas use:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/food-delivery-system?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=<JWT_SECRET_KEY>
JWT_EXPIRES_IN=
API_PREFIX=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=